openai:
  api:
    key: ${OPENAI_KEY}
    url: ${OPENAI_URL}
upstage:
  api:
    key: ${UPSTAGE_KEY}
    url: ${UPSTAGE_URL}
law:
  api:
    key: ${LAW_KEY}
    url: ${LAW_URL}
cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    s3:
      bucket: ${AWS_BUCKET}
    region:
      static: ap-northeast-2
    stack:
      auto: false
papago:
  api:
    client-id: ${PAPAGO_CLIENT_ID}
    client-secret: ${PAPAGO_CLIENT_SECRET}
    url: https://papago.apigw.ntruss.com/image-to-image/v1/translate

jwt:
  secret: ${JWT_SECRET}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB